<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Vision Detection</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  
<h1>Face Detection</h1>
<!--.canvas-->


<form action="upload_photo" method="POST" enctype="multipart/form-data">
<div class="upload-btn-wrapper">
<button class="btn">Upload a file</button>
      <input type="file" name="file"><br><br><br>
      <input type="submit" name="face" value="Submit">
</div>
	  
    </form>
	
<!-- Footer-->
<div class="foot-wrapper">
  <p class="footer">Developed By Ajithlal</p>
</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

  

</body>

</html>
