<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Vision Detection</title>
  <link rel="stylesheet" type="text/css" href="/static/main.css">
  
</head>

<body>

  
<h1>Vision Detection</h1>
<!--.canvas-->
<div class="buttons"><a class="button1" href="textdetection.html">Text</a><a class="button2" href="landdetection.html">Land</a><a class="button2" href="facedetection.html">Face</a></div>
<!-- Footer-->


	
<div class="foot-wrapper">
  <p class="footer">Developed By Ajithlal</p>
</div>


	
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

  

</body>

</html>
