<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Vision Detection</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  
<h1>Landmark Detection</h1>
<!--.canvas-->


<form action="upload_photo_land" method="POST" enctype="multipart/form-data">
<div class="upload-btn-wrapper">
<button class="btn">Upload a file</button>
      <input type="file" name="file"><br><br><br>
      <input type="submit" name="land" value="Submit">
</div>
	  
    </form>
	
		{% for land_entity in land_entities %}
      <img src="{{land_entity['image_public_url']}}" width=200 height=200>
      <p>{{land_entity['blob_name']}} was uploaded {{land_entity['timestamp']}}.</p>
      <p>Landmark detected detected: {{land_entity['land_description']}} ,score was {{land_entity['score']}}</p>
    {% endfor %}	
	
<!-- Footer-->
<div class="foot-wrapper">
  <p class="footer">Developed By Ajithlal</p>
</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

  

</body>

</html>
